body {

	font: 14px 'Lucida Grande', Arial, sans-serif;
	margin:0px;
	background:#f3f3f3;
}

h1, h2, h3, h4, h5 {

	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

hr {

 	display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; 
}

#header {

	width: 100%;
	height: 75px;
	position: fixed;
	z-index: 100;
	top:0px;
	border-bottom: 1px solid #dddddd;
	background-color:white;
}

#container {

	margin-top: 75px;
}

#header #topMenu {

	margin-top:20px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

#header #topMenu .topMenuList {

	position: absolute;
	left: 200px;
}

#header #topMenu ul a, #header #topMenu a:visited {

	display:inline-block;
	height: 40px;
	font-family: "Arial Black", Gadget, sans-serif;
	color:black;
	text-decoration: none;
}

#header #topMenu ul a:hover {

	color:red;
	border-bottom:2px solid #ff0000;
}

.right {

	float:right;
}

.left {

	float:left;
}

#header #topMenu ul {

	display: inline;
	list-style:none;
	padding-left:0;
}

#header #topMenu ul li {

	display: inline;
	margin-right: 50px;
}

#footer {

	text-align: center;
	font-family: "Courier New", Courier, monospace;
}

#contentContainer {

	padding: 30px;
	background: #f0f0f0;
}

#body {

	padding: 20px;
	padding-left: 75px;
	background: white;
	-webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.4);
}


#body a, #body a:visited, #profile a, #profile a:visited {

	color: #cc0000;
	text-decoration: none;
}

#body a:hover, #profile a:hover {

	color: #ff3333;
}

#profile {

	padding: 10px;
	float:right;
	position: fixed;
	width: 200px;
	top:75px;
	right:0px;
	height: 100px;
	border-right:1px solid #dddddd;
	border-left:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	background: white;
	text-align: center;

	-webkit-box-shadow: -10px 0px 20px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    -10px 0px 20px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         -10px 0px 20px 0px rgba(50, 50, 50, 0.25);
}

#sideMenu {

	position: fixed;
	width: 200px;
	height: 100vh;
	border-right:1px solid #dddddd;
	background: white;
	padding: 10px;

	-webkit-box-shadow: 10px 0px 20px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    10px 0px 20px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         10px 0px 20px 0px rgba(50, 50, 50, 0.25);
}

#sideMenu  ul {

	list-style: none;
	padding: 0px;
}

#sideMenu h1, #sideMenu h2, #sideMenu h3, #sideMenu h4, #sideMenu h5, #sideMenu h6 {

	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #dd0000;
}

#sideMenu ul li a{

	padding: 5px;
	text-decoration: none;
	margin-bottom: 5px;
	display: block;
	color: #333333;
}

#sideMenu ul li a:hover {

	color:#ffffff;
	background-color: #333333;
}

.hidden {

	display:none;
}

#body p {

	text-indent: 40px;
}

#body table{

	border:1px solid #adadad;
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

#body tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}

#body table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

#body table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}

#body tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}

#body tr:hover td{
	
}

#body tr:nth-child(odd){ background-color:#f2f2ff; }
#body tr:nth-child(even)    { background-color:#ffffff; } td{
	vertical-align:middle;
	
	
	border:1px solid #adadad;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#686868;
}

#body tr:last-child td{
	border-width:0px 1px 0px 0px;
}

#body tr td:last-child{
	border-width:0px 0px 1px 0px;
}

#body tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

#body tr:first-child td{
		background:-o-linear-gradient(bottom, #d4d3ff 5%, #d4d3ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4d3ff), color-stop(1, #d4d3ff) );
	background:-moz-linear-gradient( center top, #d4d3ff 5%, #d4d3ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4d3ff", endColorstr="#d4d3ff");	background: -o-linear-gradient(top,#d4d3ff,d4d3ff);

	background-color:#d4d3ff;
	border:0px solid #adadad;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

#body tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #d4d3ff 5%, #d4d3ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4d3ff), color-stop(1, #d4d3ff) );
	background:-moz-linear-gradient( center top, #d4d3ff 5%, #d4d3ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4d3ff", endColorstr="#d4d3ff");	background: -o-linear-gradient(top,#d4d3ff,d4d3ff);

	background-color:#d4d3ff;
}

#body tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}

#body tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
