body {

	font: 14px 'Lucida Grande', Arial, sans-serif;
	margin:0px;
	background:#f3f3f3;
}

h1, h2, h3, h4, h5 {

	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

hr {

 	display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; 
}

#header {

	width: 100%;
	height: 75px;
	position: fixed;
	z-index: 100;
	top:0px;
	border-bottom: 1px solid #dddddd;
	background-color:white;
}

#container {

	margin-top: 75px;
}

#header #topMenu {

	margin-top:20px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

#header #topMenu .topMenuList {

	position: absolute;
	left: 200px;
}

#header #topMenu ul a, #header #topMenu a:visited {

	display:inline-block;
	height: 40px;
	font-family: "Arial Black", Gadget, sans-serif;
	color:black;
	text-decoration: none;
}

#header #topMenu ul a:hover {

	color:red;
	border-bottom:2px solid #ff0000;
}

.right {

	float:right;
}

.left {

	float:left;
}

#header #topMenu ul {

	display: inline;
	list-style:none;
	padding-left:0;
}

#header #topMenu ul li {

	display: inline;
	margin-right: 50px;
}

#footer {

	text-align: center;
	font-family: "Courier New", Courier, monospace;
}

#contentContainer {

	margin-left: 200px;
	padding: 30px;
	background: #f0f0f0;
}

#body {

	padding: 20px;
	padding-left: 75px;
	background: white;
	-webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.4);
}

#body a, #body a:visited, #profile a, #profile a:visited {

	color: #cc0000;
	text-decoration: none;
}

#body a:hover, #profile a:hover {

	color: #ff3333;
}

#profile {

	padding: 10px;
	float:right;
	position: fixed;
	width: 200px;
	top:75px;
	right:0px;
	height: 100px;
	border-right:1px solid #dddddd;
	border-left:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	background: white;
	text-align: center;

	-webkit-box-shadow: -10px 0px 20px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    -10px 0px 20px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         -10px 0px 20px 0px rgba(50, 50, 50, 0.25);
}

#sideMenu {

	position: fixed;
	width: 200px;
	height: 100vh;
	border-right:1px solid #dddddd;
	background: white;
	padding: 10px;

	-webkit-box-shadow: 10px 0px 20px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    10px 0px 20px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         10px 0px 20px 0px rgba(50, 50, 50, 0.25);
}

#sideMenu  ul {

	list-style: none;
	padding: 0px;
}

#sideMenu h1, #sideMenu h2, #sideMenu h3, #sideMenu h4, #sideMenu h5, #sideMenu h6 {

	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #dd0000;
}

#sideMenu ul li a{

	padding: 5px;
	text-decoration: none;
	margin-bottom: 5px;
	display: block;
	color: #333333;
}

#sideMenu ul li a:hover {

	color:#ffffff;
	background-color: #333333;
}

.hidden {

	display:none;
}

#body p {

	text-indent: 40px;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 600px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: transparent;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

