body {
	background: url("images/bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font: 14px 'Lucida Grande', Arial, sans-serif;
}

a {

	color: #8D9B2C;
	text-decoration: none;
}

a:hover {

	color: #333333;
}

.hidden {

	display:none;
}

.basicDiv{

	margin:0px auto;
	margin-top:150px;
	margin-bottom:25px;
	width:500px;
	text-align:center;
	
	background: #e9eaee;
	border: 2px solid #ffffff;
	padding: 0px 30px 30px 30px;
	
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
	box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}

.basicDiv>div {

	margin: 0px auto;
	border: 1px solid #a3a3a3;
	background: #ffffff;
}

.basicDiv h3 {

	padding:10px 0px 10px 5px;
	text-align:left;
	
	background: -moz-linear-gradient(left, rgba(204,204,238,1) 0%, rgba(204,204,238,1) 41%, rgba(204,204,238,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,204,238,1)), color-stop(41%,rgba(204,204,238,1)), color-stop(100%,rgba(204,204,238,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(204,204,238,1) 0%,rgba(204,204,238,1) 41%,rgba(204,204,238,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(204,204,238,1) 0%,rgba(204,204,238,1) 41%,rgba(204,204,238,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(204,204,238,1) 0%,rgba(204,204,238,1) 41%,rgba(204,204,238,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(204,204,238,1) 0%,rgba(204,204,238,1) 41%,rgba(204,204,238,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccccee', endColorstr='#00ccccee',GradientType=1 ); /* IE6-9 */
}

.aButton {

	font-family: 'Verdana', Arial, sans-serif;
	font-size:15px;
	display: inline-block;
	text-decoration:none;
	color: #222222;
	
	padding:5px 20px 5px 20px;
	border: 1px solid #a3a3a3;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,227,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,227,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,227,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,227,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,227,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,227,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e3ea',GradientType=0 ); /* IE6-9 */
}

.aButton:hover {

	background: #eeeeee;
	color: #222222;
}

hr {

	width:80%;
}

.paragraph {

	font-size:12px;
	text-align:justify;
	padding-left:20px;
	padding-right:10px;
	text-indent:20px;
	line-height:25px;
}

.notification {

	border: 1px solid #a3a3a3;
	margin:0px auto;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
	text-align:left;
	width:95%;
	background:#62E300;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
